
body {
  font-family: 'Source Code Pro', monospace;
}

a { color: black;
  text-decoration: none; 
  border-bottom:1px dashed; 
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none; 
  border-bottom:1px dashed;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none; 
  border-bottom:1px dashed;
}

a:hover {
 color: black;
  background-color: transparent;
   border-bottom:1px solid;
}

a:active {
  color: black;
   border-bottom:1px solid;
}

.table {
  border: 0px solid #000000;
  max-width: 800px;
  margin-bottom: 50px;
}

.tableHeader {
   text-align: center;
   width: 100%;

}

.tableHeaderImage {
   width: 100%;
}

.tableLeft {
   text-align: left;
   width: 50%;
   vertical-align:top;
}

.tableLeftImage {
  width: 100%;
}

.tableRight {
   text-align: left;
   width: 50%;
   vertical-align:top;
}


.sidenav-div {
  
  /*float: left;*/
  /*position: absolute;*/
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10px; 
  left: 10px;
}




/* Then style the iframe to fit in the container div with full height and width */
.sidenav-iframe{
  width: 100%;
  border: 0;
}

.everything {
  position: absolute;
  max-width: 1100px;
  margin: auto;
  right: 0;
  left: 0;
  font-size: 14px;
  /*border: 1px solid #4287f5;*/
}

.header {
  
}

.about {

  padding: 10px;
}

.menu {
 
  vertical-align: top;
}

.main {
  margin:5px;

}

.instrument-left{
  width: 100%;
}

.instrument-right{
  width: 100%;
}

/* If the screen size is 900px wide or less, hide the element */
@media only screen and (max-width: 900px) {


}

/* If the screen size is 900px wide or more, div table cells */
@media only screen and (min-width: 900px) {
  .sidenav-div {
    width: 150px;
  }
  .main {
    display: table-cell;
  }
  .menu {
    display: table-cell;
  }
  .instrument-left{
    width: 40%;
  }
  .instrument-right{
    width: 60%;
  }
}

.higlighted-text {
  background-color: #000000; 
  color: #ffffff;
  padding: 2px;
  margin:2px;
}

.center-image {
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.center-text {
text-align: center;
}

.big-caption{
  font-size: 28px;
}